.main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;

  .wrapper{
    display: flex;
    gap: 1.5rem;

    div{
      cursor: pointer;
    }

    p {
      cursor: pointer;
    }

  }
}