@import 'styles/variables';

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  border: none;
  outline: none;
  cursor: pointer;
  height: 48px;
  padding: 0.8rem 1.3rem;
  border-radius: 14px;
  text-transform: capitalize;
  transition: all .18s ease-in;
  opacity: 1;
}

//sizes

.icon{
  min-width: 44px;
  height: 44px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

// button variants

.primary{
  color: white;
  background-color: $color-primary;

  svg {
    fill: #fff;
    stroke: #fff;
  }

  &:hover {
    background-color: $color-primary-20;
    box-shadow: $box-shadow-primary;
  }
  
  &:active {
    background-color: $color-primary-30;
  }
}

.primary-text{
  background-color: transparent;
  color: $color-primary;

  svg{
    fill: $color-primary;
    stroke: $color-primary;
  }
}

.secondary{
  background-color: $color-primary-10;
  color: $color-primary-40;

  &:hover{
    background-color: #e1e8ef;
  }

  svg {
    fill: $color-primary-40;
    stroke: $color-primary-40;
  }
}

.white{
  background-color: #fff;
  color: $color-primary-40;

  svg {
    fill: $color-primary-40;
    stroke: $color-primary-40;
  }
}

.danger-secondary{
  background-color: #f6515f15;

  &:hover{
    background-color: #f6515f22;
  }
  svg {
    fill: $color-red;
    stroke: $color-red;
  }
}

.light-blue{
  background-color: $color-light-blue-10;

  &:hover {
    background-color: #1191ae1a;
  }
  

  svg {
    fill: $color-light-blue;
    stroke: $color-light-blue;
  }
}

.egg-plant{
  background-color: $color-eggplant-10;

  &:hover {
    background-color: #6d5dd323;
  }
  
  svg {
    fill: $color-eggplant;
    stroke: $color-eggplant;
  }
}




// font weights

.font-normal{
  font-weight: normal;
}

.font-bold{
  font-weight: bold;
}

.font-semi-bold{
  font-weight: 600;
}