@import 'styles/variables';

.addProject {
  padding-top: 1.3rem;
  
  .top_row{
    display: flex;
    gap: 3.1rem;
    margin-bottom: 1.5rem;

    .form_col {
      flex: 0 0 55%;
      max-width: 464px;
      .addProject_form {
        display: flex;
        flex-direction: column;
        gap: 6px;
        .date_container {
          display: flex;
          gap: 1rem;
    
          &>div {
            width: 100%;
          }
        }
      }
    }

    .project_avatar_link_col { 

      .project_avatar {
        width: 100%;
        border: 1px solid $color-grey-20;
        border-radius: 24px;
        padding: 1.6rem;
        flex-basis: 45%;
        max-width: 350px;
        align-self: flex-start;
        margin-bottom: 1.5rem;

        h3 {
          color: $color-primary-40;
          font-size: 1.125rem;
          line-height: 1.6rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.5rem;
          color: $color-grey-40;
        }

        .avatar_grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1.5rem;
          margin-top: 1.5rem;
          

          img{
            cursor: pointer;
          }

          .avatar_wrappper{
            border: 2px solid transparent;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            transition: $transition;
          }

          .avatar_active{
            border-color: $color-primary;
            box-shadow: 0px 0px 0px 4px #3f8cff24;
          }

          .uploadImage{
            border-radius: 10px;
            object-fit: cover;
          }
          
        }
      }

      .filesList{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;
      }

      .attachments{
        h3 {
          color: $color-primary-40;
          margin-bottom: 1rem;
        }

        .links{
          display: flex;
          align-items: center;
          gap: .5rem;     
          flex-wrap: wrap;
        }
      }

      .attach_link{
        display: flex;
        gap: 1.6rem;
        margin-top: 1.5rem;
      }
    }
  }

  .bottom_row{
    button {
      margin-left: auto;
    }
  }
}