@import 'styles/variables';

.wrapper{
  margin-top: 3.12rem;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.75rem;

    h2{
      color: $color-primary-40;
      font-size: 2.25rem;
      line-height: 3rem;
    }
  }
}