@import 'styles/variables';

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    align-self: center;
  }
  .signin_up{
    color: $color-primary;
    text-align: center;
  }
}