@import 'styles/variables';

.authlayout{  
  display: flex;
  
  .formContainer{
    
    flex: 1;
    background-color: #fff;
    border-radius: 0 24px 24px 0;

    .formContainer__inner{
      width: 60%;
      margin: 0 auto;
      padding-top: 7.18rem;
    }
  }

  .info{
    flex: 1;
    background-color: $color-primary;
    color: #fff;
    border-radius: 24px 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    .info__inner{
      padding: 3.75rem 0;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .info__inner__logo{
        display: flex;
        align-items: center;
        gap: 1.85rem;

        h2{
          font-size: 1.85rem;
        }
      }

      .info__inner__title {
        font-size: 2.5rem;
        line-height: 56px;
      }

      }
    }
  }
