
$color-primary: #3F8CFF;
$color-primary-10: #F4F9FD;
$color-primary-20: #3A81EB;
$color-primary-30: #1F6DE0;

$color-grey-10: #D8E0F0;
$color-grey-20: #CED5E0;

$color-grey-30: #7D8592;
$color-grey-40: #0A1629;
 


$color-purple:#C418E6;
$color-green: #00D097;
$color-red: #F65160;

$box-shadow-primary: 0px 6px 12px 0px rgba(63, 140, 255, 0.42);
$transition: all .1s ease-in;