
$color-primary: #3F8CFF;
$color-primary-10: #F4F9FD;
$color-primary-15: #E6EDF5;
$color-primary-20: #3A81EB;
$color-primary-30: #1F6DE0;
$color-primary-40: #0A1629;

$color-grey-10: #D8E0F0;
$color-grey-15 : #E4E6E8;
$color-grey-20: #CED5E0; 
$color-grey-25: #E6EDF5;
$color-grey-30: #91929E;
$color-grey-40: #7D8592;

$color-light-blue: #15C0E6;
$color-light-blue-10: #15C0E61A;

 

$color-purple: #C418E6;
$color-purple-20: #DE92EB;

$color-eggplant: #6D5DD3;
$color-eggplant-10: #6D5DD319;

$color-green: #00D097;
$color-red: #F65160;

$color-yellow: #FDC748;

$box-shadow-primary: 0px 6px 12px 0px rgba(63, 140, 255, 0.42); 
$box-shadow-grey:0px 6px 58px 0px rgba(196, 203, 214, 0.10);

$transition: all .1s ease-in;